<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Последствия "Глобального потепления"</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <h1>Расскажем кратко о последствиях</h1>
    </header>
    <main>
        <section id="intro">
            <h2>И так, последствия:</h2>
            
            <h3>- Экономические и социальные изменения:</h3>
            <p>Глобальное потепление может вызвать значительные экономические и социальные изменения из-за увеличения частоты экстремальных погодных явлений, таких как засухи, наводнения и ураганы.</p>
            <h3>- Повышение уровня моря:</h3>
            <p>Увеличение глобальной средней температуры приводит к таянию ледников и ледяных щитов, что вызывает повышение уровня морей и океанов, угрожая прибрежным районам и островным государствам.</p>
            <h3>- Изменение климатических паттернов:</h3>
            <p>Изменения в распределении и количестве осадков, а также изменение климатических паттернов могут привести к сдвигам в сельском хозяйстве, что повлияет на продовольственную безопасность.</p>
            <h3>- Здоровье человека:</h3>
            <p>Волны жары и изменение распространения инфекционных заболеваний могут увеличить риски для здоровья человека.</p>
            <h3>- Биоразнообразие:</h3>
            <p>Изменение климата может привести к вымиранию некоторых видов и изменению экосистем.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wcVy-0IBpg4?si=b8mNO26oMCgSmmMr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <section>
            <p><a href="/">Вернуться на главную</a></p>
            <p><a href="/info">Здесь расскажем о "Глобальном потеплении"</a></p>
            <p><a href="/defence">Как с этим бороться?</a></p>
        </section>
    </main>
    <footer>
        <p>© 2023 Global Warming site. Все права не защищены.</p>
    </footer>
</body>
</html>