<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Как с этим бороться</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <h1>Профилактика проблемы</h1>
    </header>
    <main>
        <section id="intro">
            <h2>Глобальное потепление - глобальная решение</h2>
            <p>Борьба с глобальным потеплением - это комплексная задача, требующая усилий на всех уровнях общества. Вот несколько способов, которыми каждый может внести свой вклад:</p>
            <h2>Уменьшение потребления продуктов животного происхождения:</h2>
            <p>Переход на вегетарианскую или веганскую диету может снизить углеродный след, так как производство мяса и других продуктов животного происхождения требует значительных затрат энергии и ресурсов.</p>
            <h2>Покупка продукции местного производства:</h2>
            <p>Поддержка местных фермеров и производителей помогает сократить выбросы углекислого газа, связанные с транспортировкой товаров на большие расстояния.</p>
            <h2>Переработка и повторное использование:</h2>
            <p>Эффективное использование ресурсов и минимизация отходов путем переработки и повторного использования продуктов может значительно уменьшить энергопотребление.</p>
            <h2>Экономия энергии:</h2>
            <p>Ограничение использования автомобилей, переход на электромобили, улучшение теплоизоляции домов и использование энергосберегающих приборов - все это способы сокращения потребления энергии.</p>
            <h2>Использование общественного транспорта:</h2>
            <p>Отказ от личного автотранспорта в пользу общественного транспорта, велосипеда или ходьбы помогает уменьшить выбросы парниковых газов.</p>
            <h2>Посадка деревьев:</h2>
            <p>Деревья поглощают углекислый газ, поэтому их посадка является одним из способов борьбы с изменением климата.</p>
            <h2>Эти действия могут казаться небольшими, но если их принять многие люди, они могут оказать значительное влияние на снижение глобального потепления.</h2>
        </section>
        <section>
            <p><a href="/">Вернуться на главную</a></p>
            <p><a href="/info">Что такое "Глобальное потепление"?</a></p>
            <p><a href="/conseq">Здесь немного расскажем про последствия</a></p>
        </section>
    </main>
    <footer>
        <p>© 2023 Global Warming site. Все права не защищены.</p>
    </footer>
</body>