<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Warming.com</title>
    <link rel="stylesheet" href="..\static\css\style.css">        
</head>        
<body>
    <header>
        <h1>Добро пожаловать на сайт про "Глобальное потепление"</h1>
        <h2>Борьба с Глобальным Потеплением: Наша Общая Ответственность</h2>
    </header>
    <main>
        <section id="intro">
            <h3>Про что этот сайт?</h3>
            <p>На нашем сайте мы освещаем одну из самых насущных проблем современности — глобальное потепление.</p>
            <p>Мы стремимся информировать посетителей о последних исследованиях, тенденциях и инновациях в области климатических изменений. Наша цель — повысить осведомленность общественности и способствовать активному участию каждого в процессе смягчения последствий глобального потепления. Присоединяйтесь к нам в этом важном деле, ведь только сообща мы можем сделать наш мир более безопасным и устойчивым для будущих поколений.</p>
        </section>
        <section id="importance">
            <h3>Необходимость борьбы с Глобальным потеплением</h3>
            <p>Мы стоим перед вызовом, требующим немедленных и решительных действий на всех уровнях общества. Наш сайт посвящён информированию о последствиях глобального потепления и способах, которыми каждый из нас может внести свой вклад в борьбу с этой критической проблемой.</p>
        </section>
        <section>
            <h3>Ниже привели список интересных статей:</h3>
            <p><a href="/info">Что такое "Глобальное потепление"?</a></p>
            <p><a href="/conseq">Какие могут быть последствия от этой проблемы</a></p>
            <p><a href="/defence">Как с этим бороться?</a></p>
        </section>
    </main>
    <footer>
        <p>© 2023 Global Warming site. Все права не защищены.</p>
    </footer>    
</body>
</html>