<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кратко про "Глобальное потепление"</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <h1>Что такое "Глобальное потепление"</h1>
    </header>
    <main>
        <section id="intro">
            <h2>Глобальное потепление - глобальная проблема</h2>
            <p>Глобальное потепление — это долгосрочное и продолжающееся повышение средней температуры атмосферы и океанов Земли.</p>
            <p>Это явление, вызванное в основном выбросами парниковых газов от человеческой деятельности, приводит к изменениям климата с серьёзными экологическими, социальными и экономическими последствиями.</p>
        </section>
        <section id="importance">
            <h2>Подробнее</h2>
            <p>С начала промышленной эры средняя глобальная температура повысилась примерно на 1°C, что привело к увеличению уровня морей, изменениям в региональных осадках, более частым экстремальным погодным явлениям и расширению пустынь.</p>
            <p>По прогнозам, температура может продолжить расти, что потребует мер по смягчению последствий и адаптации к изменяющемуся климату.</p>
            <img src="..\static\img\image.png" alt="Image">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Vmgj0yednzc?si=-UdgYrj4P8KmN_wh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <section>
            <p><a href="/">Вернуться на главную</a></p>
            <p><a href="/conseq">Здесь немного расскажем про последствия</a></p>
            <p><a href="/defence">Как с этим бороться?</a></p>
        </section>
    </main>
    <footer>
        <p>© 2023 Global Warming site. Все права не защищены.</p>
    </footer>
</body>
</html>